---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ColumnLimit: 0
DerivePointerAlignment: true
SpacesInContainerLiterals: false
SpaceBeforeAssignmentOperators: true
MaxEmptyLinesToKeep: 1
AlignTrailingComments: true
AccessModifierOffset: -4
BreakBeforeBraces: Linux
...
